.station-details-container{
    width: 60vw;
    margin: 5rem auto;
    border: #DEE2E6 solid 2px;
    border-radius: 0.25rem;
    background-color: white;
    padding: 5% 5%;
}

.address{
  color:#157347;
}

.station-box{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5% 3%;
}


@media only screen and (max-width: 768px) {
    .station-details-container {
      width: 100%!important;
    }
  }

.loading{
 display: flex;
 justify-content: center;
 align-items: center;
  height:200px;
}

ul li{
  list-style: none;
}