.station-details-container{
    width: 40vw;
    margin: 5rem auto;
    border: #DEE2E6 solid 2px;
    border-radius: 0.25rem;
    background-color: white;
    padding: 5% 5%;
}

.address{
  color:#157347;
}


@media only screen and (max-width: 768px) {
    .station-details-container {
      width: 100%!important;
    }
  }