.table-head{
    background-color: #23BEA0;
    color:white;
}

.bikes-img{
    width:100%;
    height:200px;
    object-fit:cover;
    object-position:50% 50%;
    opacity: 1;

}

.data-statistics{
    background-color: #E0E3F5;
    color: Black;
    padding: 5px 5px;
}