
.station-link {
  cursor: pointer !important;
}

.station-img {
  width: 100%;
  height: auto;

}

.stations-table {
  width: 100% !important;
  margin: 0 auto;
}

.map-container{
  height: 70%!important;
}

.btn-info{
  background-color: orange!important;
  border: none!important;
}






